.App {
  margin-top: 50px;
  width: 70%;
  background-color: #0c1642;

  margin: auto;
}

.WeatherCard {
  margin: auto;
  width: 70%;
  padding: 10px;
  font-family: "Inter", sans-serif;
  color: #2c2c30;
  height: fit-content;
  margin-top: -30px;
}
.Location {
  font-weight: 300;
  color: gray;
}
.Search {
  width: fit-content;
  margin: auto;
  padding: 50px;
  text-align: center;
  display: block;
}
.DisplayTemp {
  font-size: 58px;
  line-height: 1.3;
  color: #2c2c30;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Quote {
  padding: 30px;
  color: black;
  text-align: center;
}
.SubComp
{
  
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}
.Navlink{
display: flex;
justify-content: space-between;
width: 400px;

}